header {
    background-color: #ffffff;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #cccccc;
  }
  
  .header-logo {
    left: 20px;
    height: 100%;
    background-image: url("https://s3.eu-west-3.amazonaws.com/hbtn.intranet.project.files/holbertonschool-higher-level_programming+/268/logo.png");
    background-size: cover;
    width: 60px;
    /* border: 1px solid salmon; */
  }
  
  header {
    display: flex;
    align-items: center;
  }