header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
}

.header-logo {
    display: flex;
    justify-content: flex-start;
    position: relative;
    left: 20px;
    height: 100%;
    /* border: 1px solid salmon; */
}

.header-logo iframe {
    border: none;
    height: 100%;
    
}