.places h1 {
    left: 0;
    top: 0;
    font-size: 30px;
    margin-top: 30px;
    font-family: sans-serif;
}

.places-article {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.places-article article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
}

.places-article article h2 {
    font-size: 30px;
    text-align: center;
    font-family: sans-serif;
}